---
layout: cn
pageable: true
---

- case page_type
- when 'day'
  - date_str = Date.new(year, month, day).strftime('%F')
- when 'month'
  - date_str = Date.new(year, month, 1).strftime('%Y-%m')
- when 'year'
  - date_str = year

- content_for :title do
  = "微搜索官方博客 - #{date_str}"

.sub-nav-bar
  .row
    .large-7.columns
      %h4
        %a{href: '#'}
          = date_str
.row.main-content
  .large-3.large-push-9.small-12.columns
    .right-content
      %h3
        = date_str
      %hr/
      %ul.no-bullet.media
        %li
          = link_to '/cn/feed.xml' do
            %i.fa.fa-rss
            = '订阅'
          / = link_to 'http://weibo.com/tinysou' do
          /   %i.fa.fa-weibo
          / = link_to 'https://twitter.com/tinysou' do
          /   %i.fa.fa-twitter
          / = link_to 'https://www.facebook.com/tinysou' do
          /   %i.fa.fa-facebook
          = link_to 'https://github.com/tinysou' do
            %i.fa.fa-github
        %li= image_tag('qrcode_wx.png')
  .large-9.large-pull-3.small-12.columns
    .right-content
      - page_articles('cn').each_with_index do |article, i|
        - if i > 0
          %hr/
        %h2= link_to article.title, article
        = partial '/cn/article', :locals => {:article => article, :digest => true}
      = partial '/cn/pagination', :locals => { |
          :paginate => paginate,               |
          :next_page => next_page,             |
          :prev_page => prev_page,             |
          :num_pages => num_pages,             |
          :page_number => page_number          |
        }                                      |
